<form>
   <div>
    <label>Name</label>
   <input type="text" placeholder="product Name .."/>

   </div>
   <div>
   <label>Description</label>
   <textarea placeholder="Product Description .."></textarea>

   </div>
   <button type="submit">Submit</button>
</form>
